<!DOCTYPE html>
<html>
<head>
  <title>RecipeApp</title>
  <%= stylesheet_link_tag :application, media: :all %>
  
  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="simple-nav">
      <%= link_to "Home", root_path %>
      <!-- creates spacing between links -->
      &nbsp;&nbsp;|&nbsp;&nbsp;
      
      <% if current_user %>
        <%= link_to "Profile", profile_path %>
        <!-- creates spacing between links -->
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "+ Recipe", new_recipe_path %>
        <!-- creates spacing between links -->
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to "Sign Up", signup_path %>
        <!-- creates spacing between links -->
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>

    <%= yield %>
  </div>

  <%= javascript_include_tag :application %>
</body>
</html>